*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    background-color: #e3e3e3;
}
.container{
 
    width:1000px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;  
}
.nav{
   background-color: darkturquoise;
  
}
.nav > a{
    text-decoration: none;
    font-size: 25px;
    padding:10px 10px 10px 40px;
    float:left;
    color: darkorange;
}
.nav:hover{
    background-color: greenyellow;
    height:55px;
}
.nav > a:hover{
    color: maroon;
    font-size: 30px;
    background-color: orange;
}
.navbar > ul {
    list-style:none;
    float:right;
}
.navbar > ul > li{
    display:inline-block;
    padding:10px 20px;
}
.navbar > ul > li > a{
    text-decoration: none;
    color: grey ;
}
.navbar > ul > li:hover{
    color: pink;
    background-color: rosybrown;
    font-size: 30px;
}
.nav::after{
    content:" ";
    display:block;
    clear:both;
    *zoom:1;
}
.first-section{
    height:500px;
}
.first-section > img{
    width:100%;
    height:500px;
    object-fit: cover;
}
.main-section{
    background-color: bisque;
}
.main-section > h2{
    padding:20px;
   
    font-size:30px;
    text-align:center;
}
.col{

    text-align:justify;
    width:300px;
    border-right:solid  gray 2px;
    margin-left:20px;
    padding-bottom:20px;
    float:left;
    text-align:center;
}
.col:last-child{
        border-right:none;
}
.col > h3{
        padding:10px;
        text-align:center;
        color: navy;
}
.col > p{
    padding-bottom: 20px;
}
.col > a{

    background-color: orchid;
    text-decoration: none;
    font-size: 20px;
    border:solid yellowgreen 2px;
    padding:10px;
    border-radius: 20px;
}
   .main-section::after{
        content=" ";
        display:block;
        clear:both;
        *zoom:1;
   }
   .last-section{
       min-height:300px;
       background-color: silver;
        text-align:center;
        padding:30px;
        color:gray;
    }
    .last-section > h1{
            
          
            font-size: 30px;
            color:navy;
    }
    
    .last-section > img{
        width:100px;
        height:100px;
        border:solid 2px;
        border-radius:50px;
        object-fit:cover;
    }
    .last-section > p{
        font-size:20px;
        text-align:justify;
        color: blueviolet;
    }
    .footer{
        background-color: tan;
        text-align:center;
        font-size: 20px;
        padding:10px;
        color: blue;
    }

    